<header class="py-3 my-5 border-bottom">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a class="navbar-brand d-flex align-items-center text-dark text-decoration-none" href="{% url 'home' %}">
                <span class="fs-4">Maureen</span>
        </a>
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            {% if user.is_authenticated %}
            <li><a href="{% url 'article_list' %}" class="nav-link px-2 link-dark">Articles</a></li>
            <li><a href="{% url 'document_list' %}" class="nav-link px-2 link-dark">Documents</a></li>
        </ul>
        <div class="dropdown text-end">
            <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1"
               data-bs-toggle="dropdown" aria-expanded="false">
                {{ user.username }}
            </a>
            <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
                <li><a class="dropdown-item" href="{% url 'password_change'%}">Change password</a></li>
                <li><a class="dropdown-item" href="{% url 'logout' %}">Log Out</a></li>
            </ul>
        </div>
        {% else %}
        </ul>
        <div class="text-end">
            <a href="{% url 'login' %}" class="btn btn-outline-primary me-2">Log In</a>
            <a href="{% url 'signup' %}" class="btn btn-primary">Sign Up</a>
        </div>
        {% endif %}
    </div>
</header>